@import url('/spinner.css');

body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(58, 58, 58);
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  padding: 3rem 2rem;
}
section {
  margin-bottom: 1rem;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(58, 58, 58);
}
.hidden {
  display: none !important;
}
.chart-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 75vh;
}
canvas {
  border-radius: 5px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: rgb(255, 166, 0);
  font-size: 4.5vmin;
  margin: 0;
}
#lower-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  margin: 0.2rem;
  padding: 1vmin;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button {
  background-color: #63a7d4;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #326c8f;
}

.flag-btn {
  color: rgb(255, 166, 0);
  background: #ffffff;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
    0px -2px 0 #000;
}
@media screen and (max-width: 1200px) {
  #lower-buttons {
    overflow-y: auto;
    height: 15vh;
    justify-self: end;
  }
}
@media screen and (max-width: 1200px) {
  #lower-buttons {
    overflow-y: auto;
    height: 15vh;
    justify-self: end;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  body {
    padding: 0.2rem;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(255, 166, 0) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #0000004f;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 166, 0);
  border-radius: 10px;
  border: 1px solid #b8b8b844;
}
